/* .default-layout {
    display: grid;
    grid-template-rows: 80px auto 3rem;
    grid-template-areas: "header" "main" "footer"
} */

* {
    font-family: "Lato", Arial, sans-serif;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    min-height: 88vh;
}

footer {
    grid-area: footer;
    background: #0a1435;
    padding: 1rem;
    color: white
}

.jumbotron {
    background-color: rgba(204, 204, 204, 0.05);
    border-radius: 3rem;
    box-shadow: 0px 0px 15px -5px black;
    margin-bottom: 2rem;
    padding: 3rem 2rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}
