.form-control {
  height: 50px;
  color: white;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.05) !important;
  border-radius: 40px !important;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* .zoomed-in {
  filter: blur(10px); /* Apply the blur effect 
  transform: scale(1.2); /* Zoom-in effect 
} */

.login-email.form-control:focus,
.login-password.form-control:focus {
  background: rgba(255, 255, 255, 0.8);
  border-color: #fff;
  box-shadow: 0 0 0 0.2rem #fff;
  color: #fff
}

.login-email.form-control,
.login-password.form-control {
  border-color: #ffff;
  box-shadow: 0 0 0 0.01rem #ffff;
  color: white;
  font-weight: 700;
}

.login-email.form-control::placeholder,
.login-password.form-control::placeholder  {
  color: white;
  font-weight: 700;
}

.text {
  color: white;
}

.btn.btn-primary {
  background: #efdc96 !important;
  border: 1px solid #efdc96 !important;
  color: #000 !important;
  width: 100%;
  border-radius: 40px;
}

.forgetPassBtn {
  color: #fff !important;
  font-weight: 800;
  transition: 0.3s all ease;
  text-decoration: none !important;
  font-size: 12px;
}

.registrationBtnContainer {
  font-weight: 800;
  position: relative;
  top: -27px;
  left: 44%;
  font-size: 12px;
  color: #fff;
}

.registrationBtn {
  font-weight: 800;
  font-size: 14px;
  color: #ffff;
  text-decoration: none;
}
